@font-face {
  font-family: "FuturaBookC";
  src: url("../../assets/fonts/FuturaBookC.woff") format("woff"),
    url("../../assets/fonts/FuturaBookC.woff2") format("woff2");
}

@font-face {
  font-family: "FuturaDemiC";
  src: url("../../assets/fonts/FuturaDemiC.woff") format("woff"),
    url("../../assets/fonts/FuturaDemiC.woff2") format("woff2");
}

@font-face {
  font-family: "FuturaMediumC";
  src: url("../../assets/fonts/futuramediumc.woff") format("woff"),
    url("../../assets/fonts/futuramediumc.woff2") format("woff2");
}

@font-face {
  font-family: "ProximaNova-RegularCondensed";
  src: url("../../assets/fonts/MarkSimonson-ProximaNovaCondensedRegular.woff") format("woff"),
    url("../../assets/fonts/MarkSimonson-ProximaNovaCondensedRegular.woff2") format("woff2");
}

@font-face {
  font-family: "YesevaOne";
  src: url("../../assets/fonts/YesevaOne-Regular.woff") format("woff"),
  url("../../assets/fonts/YesevaOne-Regular.woff2") format("woff2");
}